.phd-one-details {
  margin: 1.5rem;
  .layout {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    height: calc(100vh - 18rem);
    padding: 1rem;
    border: 2px solid grey;
    overflow: auto;

    .desk-group {
      display: flex;
      justify-content: space-between;
    }
  }
}

.user-page {
  &__form {
    height: 9rem;
    background-color: red;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  &__date-picker {
    height: 2.75rem !important;
  }
  &__text {
    font-size: 1.75rem;
    padding-top: 1rem;
    font-family: math;
    color: white;
  }
}

.location-dropdown {
  width: 20% !important;
  font-size: 1rem;
}

.find-button {
  width: 5% !important;
}

.submit-button{
  
}
