.overview-background {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;

  .main-head {
   
      height: 10rem ;
      color: white;
      font-weight: bolder;
     background-image: linear-gradient(rgba(0,0,0,0.5),rgba(255,255,255,0.05)),url(../../../../static/images/deskbackground.jpg);
  }
  .main-head1{
    padding-top:1%;
    padding-bottom:1%;
    padding-left:1%;
    background-color: white;
    height:6rem;
    text-align: left;
  }
  .para_text { 
    word-spacing: 0.5rem;
    text-align: right;
    font-size: 1.5rem;
    padding-right:3.75rem;
  }

  .sub-head {
    position: relative;
    font-size: 1.5rem;
    padding: 1rem;
  }

  .container {
    display: flex;
    max-width: 1720px;
    &__left {
      h1 {
        margin-bottom: 1rem;
      }

      ul {
        margin-top: 0;
      }
    }

    &__right {
      h3 {
        margin-top: 4rem;
      }

      .phd-button {
        margin: 3rem auto;
      }
    }
  }
}

.phd-button {
  display: block;
  position: relative;
  height: 5rem;
  width: 15rem;
  border-radius: 1rem;
  outline: none;
  cursor: pointer;
  background-color: #3c8195;
}
