.phd-one-details {
  position: relative;
  .container {
    margin-top: 4rem;

    &__left {
      display: flex;
      flex-flow: wrap;

      .display-card {
        margin: 7rem 7rem;
        margin-top: 0;
      }
    }

    &__right {
      display: flex;

      .winners,
      .runners {
        width: 50%;
        text-align: left;

        ul {
          li {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
